.App {
  margin: auto;
  padding: 1em;
}

.App-logo {
  height: 10em;
  pointer-events: none;
  margin: 1em 0 1em 0;
}

.star-svg {
  background-color: black;
}

.star-svg path {
  fill: white;
}

a {
  color: black;
  background-color: lightgray;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5em;
  font-size: small;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
